.hero-wrapper{
    color:white;
    position:relative;
    padding-bottom: 2rem;
    padding-right: 2rem;
    background-color: var(--black);
}
.hero-container{
    justify-content: space-between;
    align-items: flex-start;
}
.image-container{
    width:27rem;
    height:30rem;
    overflow:hidden;
    border-radius: 15rem 15rem 0 0;
    border:8px solid rgba(255, 255, 255 ,1.12);
}
.image-container>img{
    height:100%;
    width:100%;
}
.hero-left{
    gap:3rem;
}
.hero-title{
    position:relative;
    z-index: 1;

}
.hero-title>h1{
font-weight: 500;
font-size: 3.8rem;
line-height: 3.5rem;
}
.orange-circle{
    height:56px;
    width:56px;
    background-color:rgb(238, 161, 19);
    border-radius: 999px;
    position:absolute;
    right:28%;
    top:-10%;
    z-index: -1;
}
.search-bar{
    background-color: white;
    border-radius: 5px;
    border-radius: 3px solid rgba(120,120,120 0.374);
    padding:0.5rem 1rem;
    justify-content: space-between;
}
.search-bar>input{
    border:none;
    outline:none;
}
.stats{
    width:100%;
    justify-content: space-between;
    margin:15px
}
.state>:nth-child(1){
    font-size: 25px;
    font-weight: 700;
    color:orange;
    

}
.state>:nth-child(1)>:last-child{
   color:whitesmoke; 
   font-size: small;

   
}